<div class="columns content">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title has-text-weight-bold">
            <img src="/images/eye-off.svg" alt=""> 404!
        </h1>
        <p class="subtitle">
            Uh, shit. You found a loop hole. This resource isn’t available yet.
        </p>

        <hr>

        <h2 class="title has-text-weight-bold">This Feature Isn’t Implemented yet</h2>
        <p>
            Futureflix is the sample app for the
            <strong>
                <a href="learnhapi.com">learn hapi</a>
            </strong>
            learning path.
        </p>
        <p>
            <strong>Master hapi and it’s ecosystem in modern Node.js.</strong>
        </p>
        <p class="has-margin-top-3">
            <img src="/images/learn-hapi-teaser.png" alt="learnhapi.com">
        </p>
    </div>
</div>