<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
            <img src="/images/star.svg" alt="">
            Welcome to Future Coffee!
        </h1>
        <h2 class="subtitle">
            Make it rock.
        </h2>
    </div>
</div>